$dark-blue: #06045f;
$light-blue: #d7def1;
$red: #c1120d;
$green: #007529;
$light-gray: #e3e3e3;
$color1: #ffa8b8;
$color2: #dcd9f8;
$color3: #f7d8c3;
$color4: #bccef4;
$color5: #a9e5e3;
$color6: #a0d995;
$color7: #d2c897;
$color8: #fae187;
$color9: #e8ba86;
$color10: #d3bead;
