@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Kelly+Slab&display=swap');

/* Fonts */
$inter: 'Inter', sans-serif;
$kelly: 'Kelly Slab', cursive;

/* Sizes */
// Major second
$size8: 3.247rem;
$size7: 2.281rem;
$size6: 2.027rem;
$size5: 1.802rem;
$size4: 1.602rem;
$size3: 1.424rem;
$size2: 1.266rem;
$size1: 1.125rem;
$size0: 1rem;
$size-1: 0.889rem;
$size-2: 0.79rem;
$size-3: 0.493rem;
$size-4: 0.243rem;
