.not-found {
  h2 {
    font-family: var(--font-main) !important;
    font-size: var(--size8);
    margin: 0 0 var(--size-2) 0 !important;
    text-align: center;
  }
  h3 {
    line-height: 1.3;
    text-align: center;
  }
}
