@import './assets/scss/main';

:root {
  --primary-color: #{$dark-blue};
  --primary-color-light: #{$light-blue};
  --accent-color: #{$red};
  --success-color: #{$green};
  --light-color: #{$light-gray};
  --font-main: #{$inter};
  --font-secondary: #{$kelly};
  --size7: #{$size7};
  --size6: #{$size6};
  --size5: #{$size5};
  --size4: #{$size4};
  --size3: #{$size3};
  --size2: #{$size2};
  --size1: #{$size1};
  --size0: #{$size0};
  --size-1: #{$size-1};
  --size-2: #{$size-2};
}

* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-main) !important;
  font-size: var(--size0);
  overflow-x: hidden;
}

h1,
h2 {
  font-family: var(--font-secondary) !important;
}

h2 {
  margin: 0 0 var(--size1) 0 !important;
  &:first-child {
    margin-top: var(--size4) !important;
  }
}

a,
span.link {
  cursor: pointer;
  text-decoration: none;
  &:hover,
  &:focus {
    color: inherit !important;
    opacity: 0.8;
    &.button {
      color: var(--primary-color-light) !important;
    }
  }
  .card-button-group {
    opacity: 1;
  }
}

button {
  &:hover {
    opacity: 0.8;
  }
}

aside {
  ul {
    li {
      margin: 0;
      position: relative;
      &:hover,
      &:focus {
        background: rgba(0, 0, 0, 0.05);
        a,
        span.link {
          padding: var(--size-1) 0.5em;
          transition: all 0.25s ease-in;
        }
      }
      a,
      span.link {
        color: black;
        display: block;
        padding: var(--size-1) 0;
        &:focus {
          padding: var(--size-1) 0.5em;
          transition: all 0.25s ease-in;
        }
      }
    }
  }
  .lent {
    p {
      margin-bottom: 0;
    }
    .small {
      font-size: var(--size-2);
    }
  }
}

form span {
  margin-left: 1em;
}

.aside {
  background: var(--primary-color-light);
  .active {
    color: var(--accent-color) !important;
  }
}

.book,
.book-form_fields {
  margin: var(--size4) 0;
}

.button-group {
  margin-bottom: 1em;
  .ui.button {
    margin-right: 1em;
  }
}

.buttons {
  margin-bottom: var(--size4);
}

.card-button-group {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-30%, -50%);
  z-index: 2;
}

.card-link {
  color: inherit;
  display: block;
  margin-bottom: 1em;
  position: relative;
  &:focus .card {
    box-shadow: 0 1px 3px 0 var(--primary-color), 0 0 0 1px var(--primary-color);
  }
  .button {
    &.show {
      opacity: 1;
      transition: opacity 0.25s ease-in !important;
    }
    &.hidden {
      pointer-events: none;
      opacity: 0;
      transition: opacity 0.25s ease-out !important;
    }
  }
}

.book-filter {
  li {
    position: relative;
    .icon {
      color: var(--accent-color);
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: none;
      visibility: hidden;
    }
    &.active {
      .icon {
        top: 40%;
        visibility: visible;
        transition: 0.1s all ease-in;
      }
    }
  }
}

.centered {
  align-items: center;
  display: flex;
}

.flex-center-between {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.height-pad {
  padding-bottom: 0.75em;
  padding-top: 0.75em;
  @include tablet {
    padding-bottom: 0.25em;
    padding-top: 0.25em;
  }
}

.hidden {
  display: none;
}

.book-image {
  float: left;
  max-width: 35em;
  width: 100%;
}

.hundred .loader {
  width: 100% !important;
}

.main-container {
  margin: 0 auto;
  max-width: 90em;
  padding-left: var(--size1);
  padding-right: var(--size1);
  width: 100%;
  @include tablet {
    padding-left: var(--size0);
    padding-right: var(--size0);
  }
}

.toggleButton {
  &.show {
    opacity: 0.8;
  }
  &.hidden {
    opacity: 1;
  }
}
