@import './assets/scss/main';

:root {
  --primary-color: #{$dark-blue};
  --primary-color-light: #{$light-blue};
  --accent-color: #{$red};
  --success-color: #{$green};
  --light-color: #{$light-gray};
  --font-main: #{$inter};
  --font-secondary: #{$kelly};
  --size7: #{$size7};
  --size6: #{$size6};
  --size5: #{$size5};
  --size4: #{$size4};
  --size3: #{$size3};
  --size2: #{$size2};
  --size1: #{$size1};
  --size0: #{$size0};
  --size-1: #{$size-1};
  --size-2: #{$size-2};
  --color1: #{$color1};
  --color2: #{$color2};
  --color3: #{$color3};
  --color4: #{$color4};
  --color5: #{$color5};
  --color6: #{$color6};
  --color7: #{$color7};
  --color8: #{$color8};
  --color9: #{$color9};
  --color10: #{$color10};
}

* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-main) !important;
  font-size: var(--size0);
  overflow-x: hidden;
}

h1,
h2 {
  font-family: var(--font-secondary) !important;
  font-size: var(--size5);
  font-weight: 600;
  letter-spacing: -1px;
}

h2 {
  font-size: var(--size4);
  margin: 0 0 var(--size1) 0 !important;
  &:first-child {
    margin-top: var(--size4) !important;
  }
}

h3 {
  font-size: var(--size2);
  margin: 0 0 var(--size1) 0 !important;
}

a,
span.link {
  cursor: pointer;
  text-decoration: none;
  &:hover,
  &:focus {
    color: inherit !important;
    opacity: 0.8;
    &.button {
      color: var(--primary-color-light) !important;
    }
  }
  .card-button-group {
    opacity: 1;
  }
}

button {
  &:hover {
    opacity: 0.8;
  }
}

aside {
  ul {
    li {
      margin: 0;
      position: relative;
      &:hover,
      &:focus {
        background: rgba(0, 0, 0, 0.05);
        a,
        span.link {
          padding: var(--size-1) 0.5em;
          transition: all 0.25s ease-in;
        }
      }
      a,
      span.link {
        color: black;
        display: block;
        padding: var(--size-1) 0;
        &:focus {
          padding: var(--size-1) 0.5em;
          transition: all 0.25s ease-in;
        }
      }
    }
  }
  .lent {
    p {
      margin-bottom: 0;
    }
    .small {
      font-size: var(--size-2);
      margin-top: 0.25em;
    }
  }
}

form span {
  margin-left: 1em;
}

[data-selected='true'] {
  border: 2px solid rgba(34, 36, 38, 0.15);
  box-sizing: border-box;
}

.addBook,
.addGroup,
.book,
.group div {
  margin: var(--size4) 0;
}

.addBook {
  display: flex;
  flex-wrap: wrap;
  @include tablet {
    flex-wrap: nowrap;
  }
  .book-form_fields {
    width: 100%;
  }
  .cover {
    margin-right: 1em;
    max-width: 16.5em;
    .coverImg {
      position: relative;
      img {
        width: 100%;
      }
      .closeIcon {
        position: absolute;
        top: 1em;
        right: 1em;
      }
    }
    label {
      display: block;
      margin: 0 0 0.28571429rem 0;
      color: rgba(0, 0, 0, 0.87);
      font-size: 0.92857143em;
      font-weight: 700;
      text-transform: none;
    }
    input {
      width: 100%;
    }
  }
}

.addGroup {
  max-width: 20em;
}

.aside {
  background: var(--primary-color-light);
  .active {
    color: var(--accent-color) !important;
  }
}

.book {
  .cover-title {
    font-size: var(--size1);
  }
}

.book-filter {
  li {
    position: relative;
    .icon {
      color: var(--accent-color);
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: none;
      visibility: hidden;
    }
    &.active {
      .icon {
        top: 40%;
        visibility: visible;
        transition: 0.1s all ease-in;
      }
    }
  }
}

.book-image {
  float: left;
  max-width: 35em;
  width: 100%;
}

.button-group {
  margin-bottom: 1em;
  .ui.button {
    margin-right: 1em;
  }
}

.buttons {
  margin-bottom: var(--size4);
  margin-top: var(--size4);
  @include tablet {
    margin-top: 0;
  }
}

.card-button-group {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-30%, -50%);
  z-index: 2;
}

.card-link {
  color: inherit;
  display: block;
  margin-bottom: 1em;
  position: relative;
  &:focus .card {
    box-shadow: 0 1px 3px 0 var(--primary-color), 0 0 0 1px var(--primary-color);
  }
  .button {
    &.show {
      opacity: 1;
      transition: opacity 0.25s ease-in !important;
    }
    &.hidden {
      pointer-events: none;
      opacity: 0;
      transition: opacity 0.25s ease-out !important;
    }
  }
}

.centered {
  align-items: center;
  display: flex;
}

.color1 {
  background-color: var(--color1);
}
.color2 {
  background-color: var(--color2);
}
.color3 {
  background-color: var(--color3);
}
.color4 {
  background-color: var(--color4);
}
.color5 {
  background-color: var(--color5);
}
.color6 {
  background-color: var(--color6);
}
.color7 {
  background-color: var(--color7);
}
.color8 {
  background-color: var(--color8);
}
.color9 {
  background-color: var(--color9);
}
.color10 {
  background-color: var(--color10);
}

.colorOption {
  display: inline-block;
  margin-left: 0.5em;
  height: 1.5em;
  width: 1.5em;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  &.selected {
    border: 2px solid rgba(34, 36, 38, 0.15);
    box-sizing: border-box;
  }
  &.disabled {
    cursor: default;
    position: relative;
    opacity: 0.8;
    &:before,
    &:after {
      content: '';
      background: var(--primary-color);
      bottom: 0;
      display: block;
      height: 0.2em;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;
      transform: rotate(-45deg);
      width: 100%;
    }
    &:after {
      transform: rotate(45deg);
    }
  }
}

.colors {
  display: flex;
  margin-bottom: 1em;
  div {
    height: 1.5em;
    margin-right: 0.5em;
    width: 1.5em;
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
    &.selected {
      border: 2px solid rgba(34, 36, 38, 0.15);
      box-sizing: border-box;
    }
  }
}

.cover-title {
  color: rgba(255, 255, 255, 0.5);
  font-size: var(--size-1);
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
}

.deleteButton {
  margin-right: 0 !important;
  position: absolute;
  right: 0;
}

.flex-center {
  align-items: center;
  display: flex;
}

.flex-center-between {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  button.ui.button {
    margin-right: 0;
  }
}

.flex-row {
  display: flex;
  flex-direction: column;
  .ui.button {
    margin: 0.25em 0;
  }
}

.form-background {
  background: radial-gradient(
      circle,
      rgba(215, 222, 241, 0.85),
      rgba(6, 4, 95, 0.85)
    ),
    url('../src/assets/images/library.jpg');
  background: -moz-radial-gradient(
      circle,
      rgba(215, 222, 241, 0.85),
      rgba(6, 4, 95, 0.85)
    ),
    url('../src/assets/images/library.jpg');
  background: -webkit-radial-gradient(
      circle,
      rgba(215, 222, 241, 0.85),
      rgba(6, 4, 95, 0.85)
    ),
    url('../src/assets/images/library.jpg');
  background-size: cover;
  background-position: center;
  bottom: 0;
  left: 0;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
  .login-form {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    left: 50%;
    max-width: 25em !important;
    padding: var(--size1);
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    @include tablet {
      padding: var(--size2);
    }
    .buttons {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 0;
      margin-top: 3em;
      button {
        margin-left: var(--size-2);
        margin-right: 0;
      }
    }
    .user-form_fields {
      width: 100%;
    }
  }
}

.form-header {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  h1 {
    margin: 0;
  }
  #logo {
    margin-right: 1em;
    width: 5rem;
  }
}

.groupUsers {
  margin: 1em 0 0 1em;
  li {
    align-items: center;
    display: flex;
    padding: 0.75em 0;
    position: relative;
  }
  .icon {
    margin-left: 0.5em;
  }
}

.groupUser-color {
  display: inline-block;
  height: 1em;
  margin-right: 0.5em;
  width: 1em;
}

.height-pad {
  padding-bottom: 0.75em;
  padding-top: 0.75em;
  @include tablet {
    padding-bottom: 0.25em;
    padding-top: 0.25em;
  }
}

.hidden {
  display: none;
}

.hundred .loader {
  width: 100% !important;
}

.main-container {
  margin: 0 auto;
  max-width: 90em;
  padding-left: var(--size1);
  padding-right: var(--size1);
  width: 100%;
  @include tablet {
    padding-left: var(--size0);
    padding-right: var(--size0);
  }
}

.mb7 {
  margin-bottom: var(--size7) !important;
}

.mr0 {
  margin-right: 0 !important;
}

.toggleButton {
  &.show {
    opacity: 0.8;
  }
  &.hidden {
    opacity: 1;
  }
}
