@import '../../assets/scss/mixins';
.addBook {
  display: flex;
  flex-wrap: wrap;
  @include tablet {
    flex-wrap: nowrap;
  }
  .book-form_fields {
    width: 100%;
  }
  .cover {
    margin-right: 1em;
    max-width: 16.5em;
    .coverImg {
      position: relative;
      img {
        margin-bottom: 0.5rem;
        width: 100%;
      }
      .closeIcon {
        position: absolute;
        top: 1em;
        right: 1em;
      }
    }
    label {
      display: block;
      margin: 0 0 0.28571429rem 0;
      color: rgba(0, 0, 0, 0.87);
      font-size: 0.92857143em;
      font-weight: 700;
      text-transform: none;
    }
    input {
      width: 100%;
    }
  }
}
